/* yellow - #ffcb07 */
/* blue - #3464ae */

body {
  box-sizing: border-box;
  background-color: #ffcb07;
  margin: 1em;
}

/* @media only screen and (min-width: 576px) { */

  navbar {
    font-size: 0;
    overflow: hidden;
    /* position: relative; */
  }

  #navbarMenu {
    font-size: 1rem;
    /* position: absolute; */
  }

  #navbarLinks {
    /* display: none; */
    /* float: right; */
    
  }

  #navbarLinks a {
    font-size: 0.9rem;
    font-weight: 700;
    color: #3464ae;
    font-family: Geneva, Arial, sans-serif;
    text-decoration: none;
    display: block;
  }
/* } */

@media only screen and (min-width: 768px) {

  #navbarMenu {
    display: none;
  }

  #navbarLinks {
    float: right;
  }

  #navbarLinks a {
    font-size: 0.9rem;
    font-weight: 700;
    border-right: 1px solid #3464ae;
    padding: 0 1em;
    display: inline;
  }

  #navbarLinks a:last-of-type {
    border-right: none;
    padding-right: 0;
  }

  #navBarBaseLine {
    width: 100%;
    height: 0.8rem;
    transform: skew(-20deg);
    background-color: #ffffff;
    margin-top: 1rem;
  }

}

@media only screen and (min-width: 992px) {

  #navbarMenu {
    display: none;
  }

  #navbarLinks {
    display: block;
  }

  #navbarLinks a {
    font-size: 1.1rem;
    font-weight: 700;
  }

  #navBarBaseLine {
    width: 100%;
    height: 1rem;
    transform: skew(-20deg);
    background-color: #ffffff;
    margin-top: 1rem;
  }

}

@media only screen and (min-width: 1200px) {

}









